*{margin:0; padding: 0;}
html, body{width:100%; height: 100%;}

.section_gray{width: 100%; height: 100%; background-color: whitesmoke;}
.section_white{width: 100%; height: 100%; background-color: white;}

.top_bar {
    width: 100%;
    height: 10vh;
    background-color: lightgray;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.logo {
    height: 9vh;
    float : left;
    padding-left: 7vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    vertical-align: middle;
    line-height: 9vh;
}

.logo_text {
    float: left;
    vertical-align: middle;
    line-height: 4vh;
    padding-left: 0;
}

.logo_text_smaill {
    font-size: 1vw;
}

.logo_text_big {
    font-size: 1.5vw;
    font-weight: bold;
}

li {
    list-style:none;
    padding-left: 2vw;
}

.menu {
    padding-right: 7vw;
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.3vw;
    float : right;
    vertical-align: middle;
    line-height: 9vh;
}

.main_text {
    text-align: left;
    padding-left: 7vw;
    padding-top: 30vh;
}

.main_text_big {
    font-size: 6vh;
}

.main_text_smaill {
    font-size: 1.5vw;
    font-weight: bold;
}

.contacts {

}

.contact {
    float : bottom;
    display:scroll;
    position:fixed;
    height: 3.5vh;
}

.sub_f {
    font-size: 4vw;
    font-weight: bold;
}

.sub_s {
    font-size: 4vw;
    color: gray;
    padding-bottom: 1vh;
}

.about_text {
    float: left;
    width: 50vw;
    padding-left: 0;
    font-size: 1.2vw;
}

.profile {
    float: left;
    padding-left: 3vw;
    padding-right: 1vw;
    width: 40vh;
}



.section_main {
    text-align: left;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 17vh;
}

.progress-bar {
    background: 50%;
    border-radius: 3vw;
    align-items: center;
    display: flex;
    height: 1.5vw;
    padding: 0.2vw 0.2vw;
    box-shadow: 0px 0px 10px 0px #969696;
}

.progress-value-80 {
    border-radius: 100px;
    background: darkgray;
    height: 3vh;
    animation: progress-80 3s normal forwards;
}

@keyframes progress-80 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.progress-value-70 {
    border-radius: 100px;
    background: darkgray;
    height: 3vh;
    animation: progress-70 3s normal forwards;
}

@keyframes progress-70 {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.progress-value-60 {
    border-radius: 100px;
    background: darkgray;
    height: 3vh;
    animation: progress-60 3s normal forwards;
}

@keyframes progress-60 {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}

.progress-value-40 {
    border-radius: 100px;
    background: darkgray;
    height: 3vh;
    animation: progress-40 3s normal forwards;
}

@keyframes progress-40 {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

h3 {
    padding-bottom: 0.6vh;
    padding-top: 1.5vh;
}

.project {
    float: left;
    background-color: lightgray;
    border-radius: 3vw;
    padding: 1vw;
    height: 50vh;
    margin-top: 5vh;
        margin-bottom: 5vh;
    width: 20vw;
}

.project_image {
    width: 20vw;
    border-radius: 2vw;
}

.contact_text_big {
    font-size: 1.3vw;
    font-weight: bold;

}

.contact_text_small {
    font-size: 1.2vw;
}

td {
    padding-right: 2vw;
    padding-top: 2vw;
}

.menu_text {
    color:black;
    text-decoration:none;
    font-weight: bold;
    color: dimgray;
}

.menu_text:hover {
    color:black;
    text-decoration:none;
    font-weight: bold;
    color: black;
}

.content{
    height: 100vh;
}
/*스크롤 바 없애기*/
body {overflow:hidden}

ul, ol{list-style:none}
/*.header{position:fixed;z-index:10;top:0;width:100%}*/
/*.header ul:after{content:"";display:block;clear:both}*/
/*.header ul li{float:left;border-left:1px solid rgba(255, 255, 255, 0);box-sizing:border-box;width:25%}*/
/*.header ul li:first-child{border-left:none}*/
/*.header ul li a{display:block;height:60px;text-align:center;line-height:60px;font-size:20px;text-decoration:none;background-color:#000;color:#fff}*/
/*.header ul li.on a{background-color:#fff;color:#000}*/
/*.content{}*/
/*.content div{position:relative}*/
/*.content div p{position:absolute;top:50%;margin-top:-40px;text-align:center;width:100%;font-size:80px;font-weight:bold;color:#fff}*/
.top {
    display:scroll;
    position:fixed;
    bottom: 5vh;
    right: 5vw;
    width: 3vw;
}

/*@media (max-width: 767px) {*/
/*    .top {*/
/*    display:scroll; */
/*    position:fixed;*/
/*    bottom: 5vh;*/
/*    width: 10vw;*/
/*  }*/
/*}*/

@media (max-width: 1180px) {
  .top {
    display:scroll;
    position:fixed;
    bottom: 5vh;
    width: 4vw;
  }

    .logo_text_smaill {
        font-size: 1.5vw;
    }

    .logo_text_big {
    font-size: 2vw;
    }

    .menu {
    padding-right: 5vw;
    font-size: 1.8vw;
    }
    .about_text p {
        font-size: 1.5vw;
    }
}

